{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block content %}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Lead | Test Page</h1>
      </section>
      <section class="content">
        <h4>{{say}}</h4>
      </section>
    </div>
{% endblock %}